body {
  background: url('../images/Home-background.png');
  background-size: cover;
  background-position: center right;
  background-attachment: fixed;
}

@font-face{
  font-family: 'friends';
  src: url('../fonts/Friends.TTF')
}

@font-face{
  font-family: 'friends2';
  src: url('../fonts/GABRWFFR.TTF')
}

/* Home Page */
#homeTitle {
  font-family: 'friends2';
}

/* Survey Page */
#surveyPage {
  background-color: rgba(247, 248, 245, 0.562)
}

.form-check-inline {
  margin-right: 2rem;
}

.modal {
  background-color: white;
}

.modal-title,
.inputName, .inputLink,
.friend-name-modal,
.surveyTitle,
.surveyIntro {
  font-family: 'friends2'
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  h1 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  .container {
    padding: 0;
  }
}
